<% provide(:title, 'パスワードリセット') %>
<div class="i-s-row">
  <div class="i-s-box col-md-8 col-md-offset-2">
    <h1>パスワード更新</h1>
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= hidden_field_tag :email, @user.email %>
    <div class="form-list">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-list">
      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <div class="form-list">
      <%= f.submit "パスワードの更新", class: "submit" %>
    </div>
    <% end %>
  </div>
</div>
