<% provide(:title, 'ユーザー登録') %>


<div class="i-s-row">
  <div class="i-s-box col-md-8 col-md-offset-2">
    <h1>ユーザー登録</h1>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-list">
      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-list">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="form-list">
      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-list">
      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="form-list">
      <%= f.submit "アカウントを作成する", class: 'submit' %>
      </div>
    <% end %>
  </div>
</div>
